<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 col-sm-6 col-lg-8">
    <!-- form login start -->
    <form class="text-center" (submit)="onChangePassword(chamgePasswordForm)" #chamgePasswordForm="ngForm">
      <p class="h4 mb-4">เปลียนรหัสผ่าน</p>
      <div class="md-form">
        <input type="email" name="email"  class="form-control" mdbInput ngModel #emailInput="ngModel" required email>
        <label >อีเมล</label>
        <mdb-error *ngIf="emailInput.invalid  && (emailInput.dirty || emailInput.touched)">
          กรุณากรอกอีเมล
        </mdb-error>
        <mdb-error *ngIf="error.email != ''">
          {{error.email}}
        </mdb-error>
      </div>
      <div class="md-form">
        <input type="password" name="password" class="form-control" mdbInput ngModel #passwordInput="ngModel" required>
        <label >รหัสผ่านใหม่</label>
        <mdb-error *ngIf="passwordInput.invalid  && (passwordInput.dirty || passwordInput.touched)">
          กรุณากรอกรหัสผ่าน
        </mdb-error>
        <mdb-error *ngIf="error.password != ''">
          {{error.password}}
        </mdb-error>
      </div>
      <div class="md-form">
        <input type="password" name="password_confirmation" class="form-control" mdbInput ngModel #passwordConfirmInput="ngModel" required>
        <label >ยืนยันรหัสผ่าน</label>
        <mdb-error *ngIf="(passwordConfirmInput.value  != passwordInput.value) && (passwordConfirmInput.dirty || passwordConfirmInput.touched)">
          รหัสผ่านไม่ตรงกัน
        </mdb-error>
      </div>
      <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!chamgePasswordForm.valid">Sign in</button>
      <hr>
      <p>
        <a routerLink="/auth/signup" >Sign up</a> and
        <a routerLink="/auth/login">Login</a>. </p>
    </form>
    <!-- form login end -->
    </div>
  </div>
</div>
