<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 col-sm-6 col-lg-8">
    <!-- form login start -->
    <form class="text-center" (submit)="onSendEmail(sendEmailForm)" #sendEmailForm="ngForm">
      <p class="h4 mb-4">ตั้งค่าระหัสผ่านใหม่</p>
      <div class="md-form">
        <input type="email" name="email"  class="form-control" mdbInput ngModel #emailInput="ngModel" required email>
        <label >อีเมล</label>
        <mdb-error *ngIf="emailInput.invalid  && (emailInput.dirty || emailInput.touched)">
          กรุณากรอกอีเมล
        </mdb-error>
      </div>
      <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!sendEmailForm.valid">Sign in</button>
      <hr>
      <p>
        <a routerLink="/auth/signup" >Sign up</a> and
        <a routerLink="/auth/login">Login</a>. </p>
    </form>
    <!-- form login end -->
    </div>
  </div>
</div>
