<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
        <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
    </a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/profile">Profile</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item" *ngIf="!userIsAuthenticated">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/auth/login">เข้าสู่ระบบ</a>
          </li>
          <!-- <li class="nav-item" *ngIf="loggedIn">
            <a class="nav-link waves-light" mdbWavesEffect>ออกจากระบบ</a>
          </li> -->
          <li class="nav-item" *ngIf="!userIsAuthenticated">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/auth/signup">สมัครสมาชิก</a>
          </li>
          <li class="nav-item" *ngIf="userIsAuthenticated">
            <a class="nav-link waves-light" mdbWavesEffect (click)="onLogout()" >ออกจากระบบ</a>
          </li>
      </ul>
  </links>
</mdb-navbar>
